<!DOCTYPE web-app PUBLIC
        "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
        "http://java.sun.com/dtd/web-app_2_3.dtd" >
<web-app>
  <!-- Spring ApplicationContext配置文件的路径,可使用通配符,多个路径用,号分隔 此参数用于后面的Spring ContextLoader -->
  <context-param>
    <param-name>contextConfigLocation</param-name>
    <param-value>classpath:spring/applicationContext.xml</param-value>
  </context-param>

  <!-- Spring的ApplicationContext 载入 -->
  <listener>
    <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
  </listener>
  <listener>
    <listener-class>com.xiangshangkan.framtest.web.listener.MyServletContextListener</listener-class>
  </listener>

  <!-- 定义 各种 Filter  -->
  <!-- 解决post乱码 -->
  <filter>
    <filter-name>CharacterEncodingFilter</filter-name>
    <filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
    <init-param>
      <param-name>encoding</param-name>
      <param-value>utf-8</param-value>
    </init-param>
    <init-param>
      <param-name>forceEncoding</param-name>
      <param-value>true</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>CharacterEncodingFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>

  <filter>
    <filter-name>DemoFilter</filter-name>
    <filter-class>com.xiangshangkan.framtest.web.filter.DemoFilter</filter-class>
    <init-param>
      <param-name>what</param-name>
      <param-value>我是一个FilterDemo</param-value>
    </init-param>
    <init-param>
      <param-name>bywho</param-name>
      <param-value>zhouhui</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>DemoFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>


  <!-- spring-mvc的前端控制器 -->
  <servlet>
    <servlet-name>springServlet</servlet-name>
    <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
    <!-- spring-mvc的配置文件默认在：WEB-INF/servlet的name+"-servlet.xml" -->
    <init-param>
      <param-name>contextConfigLocation</param-name>
      <param-value>classpath:spring/spring-mvc.xml</param-value>
    </init-param>
    <!-- tomcat启动的时候就立即加载这个servlet -->
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>springServlet</servlet-name>
    <url-pattern>/</url-pattern>
  </servlet-mapping>










  <!-- 配置logback -->
  <!--<context-param>
    <param-name>logbackConfigLocation</param-name>
    <param-value>classpath:logback.xml</param-value>
  </context-param>-->
  <!--设置session无操作5分钟后销毁-->
  <session-config>
    <session-timeout>5</session-timeout>
  </session-config>

  <!--当用户键入的url找不到对应的servlert或页面时访问的页面 顺序访问-->
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default2.jsp</welcome-file>
  </welcome-file-list>
  <!-- 出现500服务器内部错误跳转页面 -->
  <error-page>
    <error-code>500</error-code>
    <location>/error_500.jsp</location>
  </error-page>
  <error-page>
    <error-code>404</error-code>
    <location>/error_404.jsp</location>
  </error-page>
</web-app>
